.accordion {
	width: 100%;
	max-width: 400px;
}
.accordion-item {
	border-radius: $border-radius-general;
	border: 1px solid $primary-color;
	background: $dark;
}
.accordion-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	padding-inline: 1rem;

	.accordion-title {
		color: $primary-color;
		text-transform: uppercase;
		letter-spacing: 3px;
		padding: 1rem 2rem;
	}
	.accordion-toggle {
		&.turned {
			transform: rotate(180deg);
		}
	}
}
.accordion-content {
	max-height: 0px;
	overflow: hidden;
	transition: 0.5s;
	box-shadow: $deep-shadow;

	&.active {
		max-height: 1000vh;
		padding-bottom: 0;
		transition: 2s;
	}
}

.stations-section,
.favs-section {
	display: flex;
	flex-direction: column;
	background: lighten(#1c1f24, 5%);
	border-radius: 0 0 $border-radius-general $border-radius-general;
}
.station-item {
	padding: 1rem;
	min-height: 10px;
	font-weight: bold;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;

	&:hover {
		cursor: pointer;
		background-color: $primary-color;
		color: black;
	}
	&:last-child {
		border-radius: 0 0 $border-radius-general $border-radius-general;
	}

	&.selected {
		background-color: $primary-color;
		color: black;
		filter: drop-shadow($deep-shadow);

		.audio-waves {
			display: flex;
		}
	}
}
.station-item-title {
	font-weight: 400;
}

.station-item-img {
	border-radius: 15px;
	width: 60px;
	box-shadow: $deep-shadow;
}

.station-item-info {
	display: flex;
	flex-direction: column;
	height: 60px;
	font-weight: 200;
}
.station-item-genre {
	background: $primary-color;
	color: black;
	border-radius: 8px;
	text-align: center;
	padding: 0.1rem 0.3rem;
}
.station-item:first-child {
	border-top: solid 1px $primary-color;
}

.audio-waves {
	display: none;
	gap: 3px;
	.line {
		background-color: black;
		border-radius: $border-radius-general;
		width: 4px;
		height: 5px;
		animation: audioWaveEnabled 1s infinite;
		place-self: end;

		&:nth-child(1) {
			animation-delay: 0.3s;
		}
		&:nth-child(2) {
			animation-delay: 0.5s;
		}
		&:nth-child(3) {
			animation-delay: 0.1s;
		}
	}
}
