.accordion {
	width: 100%;
	max-width: 400px;
}
.accordion-item {
	border-radius: $border-radius-general;
	border: 1px solid light-dark(white, $primary-color);
	background: light-dark($light, $dark);
}
.accordion-header {
	display: flex;
	justify-content: space-between;
	padding-inline: 0.5rem;
	align-items: center;
	cursor: pointer;

	.accordion-title {
		color: light-dark(white, $primary-color);
		text-transform: uppercase;
		letter-spacing: 3px;
		padding: 1rem 2rem;
	}
	.accordion-toggle {
		width: 25px;
		height: 25px;
		fill: light-dark(white, $primary-color);

		&.turned {
			transform: rotate(180deg);
		}
	}
}
.accordion-content {
	transition: all 0.3s ease-in-out;
	max-height: 0px;
	overflow: hidden;

	&.active {
		max-height: 500px;
		padding-bottom: 0;
	}
}

// Genres
.genres-section {
	display: flex;
	flex-direction: column;
	background: light-dark($secondary-color, lighten(#1c1f24, 5%));
	border-radius: 0 0 $border-radius-general $border-radius-general;
}
.genre-card {
	padding: 1rem;
	min-height: 10px;
	font-weight: bold;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;

	&:hover {
		cursor: pointer;
		background-color: light-dark(rgba(255, 255, 255, 0.356), $primary-color);
		color: light-dark(white, black);
	}
	&:active {
		transform: scale(0.9);
	}
	&:last-child {
		border-radius: 0 0 $border-radius-general $border-radius-general;
	}
}
.selected {
	background-color: light-dark(rgba(255, 255, 255, 0.356), $primary-color);
	color: light-dark(white, black);
}
