@keyframes liveFirstAnimation {
	from {
		max-width: 35px;
		transform: scale(0);
	}
	50% {
		transform: scale(1);
	}
	55% {
		max-width: 35px;
	}
	to {
		max-width: 100%;
	}
}
@keyframes liveTextShow {
	from {
		opacity: 0;
		translate: 100%;
		filter: blur(20px);
	}
	50% {
		opacity: 0;
	}
	60% {
		translate: 20%;
	}
	to {
		opacity: 1;
		translate: 0%;
		filter: blur(0px);
	}
}
@keyframes infiniteRotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
@keyframes audioWaveEnabled {
	from {
		height: 5px;
	}
	50% {
		height: 10px;
	}
	to {
		height: 5px;
	}
}
@keyframes textAnimation {
	0% {
		stroke-dashoffset: 50;
	}
	10% {
		fill: transparent;
	}
	25% {
		stroke-dashoffset: 0;
		fill: light-dark(white, $primary-color);
	}
	50% {
		fill: light-dark(white, $primary-color);
	}
	70% {
		fill: transparent;
	}
	100% {
		stroke-dashoffset: 50;
	}
}
