@keyframes infiniteRotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
@keyframes audioWaveEnabled {
	from {
		height: 5px;
	}
	50% {
		height: 10px;
	}
	to {
		height: 5px;
	}
}
@keyframes textAnimation {
	0% {
		stroke-dashoffset: 50;
	}
	10% {
		fill: transparent;
	}
	25% {
		stroke-dashoffset: 0;
		fill: light-dark(white, $primary-color);
	}
	50% {
		fill: light-dark(white, $primary-color);
	}
	70% {
		fill: transparent;
	}
	100% {
		stroke-dashoffset: 50;
	}
}
