body:has(.donate-section) {
	color-scheme: dark;
	background-color: $secondary-color;
	color: white;

	.btn {
		padding: 0.7rem;
		border-radius: 8px;
	}
}
.crypto-list {
	display: flex;
	flex-direction: column;
	gap: 25px;

	li {
		display: flex;
		align-items: center;
		gap: 15px;
		text-wrap: wrap;
	}
}
.crypto-logo {
	width: 30px;
}
.copy-icon {
	cursor: pointer;

	&:active {
		path {
			fill: white;
		}
	}
}
.copied-alert {
	padding: 0.5rem 1rem;
	border-radius: 8px;
	background-color: #00ffb7;
	font-weight: bold;
	font-size: 1rem;
	cursor: pointer;
	width: 100%;
	max-width: 400px;
	max-height: 50px;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: black;
	opacity: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

@keyframes fadeOut {
	from {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
@media screen and (min-width: 500px) {
	.donate-section {
		display: grid;
		grid-template-columns: 1fr;

		.btn {
			min-width: 400px;
		}
	}
}
