// Reset
* {
	margin: 0;
	padding: 0;
	outline: none;
	box-sizing: border-box;
	border: none;
	transition: all 0.3s;
	list-style: none;
	text-decoration: none;
	outline: none;
	font-family: "Poppins";
}

// Typography
@font-face {
	font-family: "Poppins";
	src: url("../typography/Poppins/Poppins-Regular.ttf") format("truetype");
	font-weight: 400;
}
@font-face {
	font-family: "Poppins";
	src: url("../typography/Poppins/Poppins-Bold.ttf") format("truetype");
	font-weight: 800;
}

// Colors
$bg-color: #edf2ef;
$primary-color: #6e07cf;
$secondary-color: #3d036a;

$border-radius-general: 25px;

// Utilities
.important-text {
	color: $primary-color;
}
.important-text-2 {
	color: $secondary-color;
}
.bold {
	font-weight: 600;
}
.italic {
	font-style: italic;
}
.underline {
	text-decoration: underline;
}
hr {
	background-color: $bg-color;
	width: 100%;
	height: 1px;
	border-radius: $border-radius-general;
}
.body-container {
	padding: 1rem;
	max-width: 1000px;
	margin: auto;
}
.section {
	margin-bottom: 2rem;
}
.hidden {
	display: none;
}
.btn {
	padding: 0.5rem 1rem;
	border-radius: $border-radius-general;
	font-size: 1rem;
	font-weight: bold;
	cursor: pointer;
	width: 100%;
	background-color: $primary-color;
	color: $bg-color;

	a {
		color: $bg-color;
	}
	&:hover {
		opacity: 0.9;
	}
	&:active {
		transform: scale(0.9);
	}
}
.ghost-btn {
	background: transparent;
	border: solid 2px $primary-color;
	color: $primary-color;
	a {
		color: $primary-color;
	}

	&:hover {
		background-color: $primary-color;
		color: $bg-color;
		box-shadow: none;
		opacity: 1;

		a {
			color: $bg-color;
		}
	}
}
.warning-text {
	color: red;
}
body {
	background-color: $primary-color;
	overflow-x: hidden;
	height: 100%;
	display: flex;
	align-items: center;
	height: 100vh;
}
