// Reset
* {
	margin: 0;
	padding: 0;
	outline: none;
	box-sizing: border-box;
	border: none;
	transition: all 0.3s;
	list-style: none;
	text-decoration: none;
	outline: none;
	font-family: "Poppins";
}
:root {
	color-scheme: light dark;
}
// Typography
@font-face {
	font-family: "Poppins";
	src: url("../typography/Poppins/Poppins-Regular.ttf") format("truetype");
	font-weight: 400;
}
@font-face {
	font-family: "Poppins";
	src: url("../typography/Poppins/Poppins-Bold.ttf") format("truetype");
	font-weight: 800;
}

// Colors
$primary-color: light-dark(#6e07cf, #00ffb7);
$secondary-color: light-dark(#3d036a, #1c1f23);
$light: rgba(153, 152, 152, 0.356);
$dark: lighten(#1c1f24, 5%);

$border-radius-general: 25px;

// Utilities
.important-text {
	color: $primary-color;
}
.important-text-2 {
	color: $secondary-color;
}
.bold {
	font-weight: 600;
}
.italic {
	font-style: italic;
}
.underline {
	text-decoration: underline;
}
hr {
	width: 100%;
	height: 1px;
	background-color: light-dark(white, $primary-color);
}
/* .section {
	margin-bottom: 2rem;
} */
.hidden {
	display: none;
}
.shown {
	display: flex;
}
.btn {
	padding: 1rem 2rem;
	border-radius: $border-radius-general;
	background-color: $primary-color;
	font-weight: bold;
	font-size: 1rem;
	cursor: pointer;
	width: 100%;
	max-width: 400px;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: black;

	&:hover {
		opacity: 0.9;
	}
	&:active {
		transform: scale(0.9);
	}
}
.ghost-btn {
	background: light-dark($light, $dark);
	border: solid 1px light-dark(white, $primary-color);
	color: light-dark(white, $primary-color);

	a {
		color: $primary-color;
	}

	&:hover {
		background-color: (light-dark($secondary-color, $primary-color));
		box-shadow: none;
		opacity: 1;
		color: light-dark(white, black);
	}
}
.warning-text {
	color: red;
}
body {
	background-color: light-dark($primary-color, $secondary-color);
	overflow-x: hidden;
}
.body-container {
	padding: 1rem;
	max-width: 1000px;
	min-height: 100vh;
	margin: auto;
	display: flex;
	flex-direction: column;
	gap: 20px;
}
