* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  border: none;
  transition: all 0.3s;
  list-style: none;
  text-decoration: none;
  outline: none;
  font-family: "Poppins";
}

:root {
  color-scheme: light dark;
}

@font-face {
  font-family: "Poppins";
  src: url("../typography/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url("../typography/Poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 800;
}
.important-text {
  color: light-dark(#6e07cf, #00ffb7);
}

.important-text-2 {
  color: light-dark(#3d036a, #1c1f23);
}

.bold {
  font-weight: 600;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

hr {
  width: 100%;
  height: 1px;
  border-radius: 25px;
  background-color: light-dark(white, light-dark(#6e07cf, #00ffb7));
}

/* .section {
	margin-bottom: 2rem;
} */
.hidden {
  display: none;
}

.shown {
  display: flex;
}

.btn {
  padding: 1rem 2rem;
  border-radius: 25px;
  background-color: light-dark(#6e07cf, #00ffb7);
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  max-width: 400px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: black;
}
.btn:hover {
  opacity: 0.9;
}
.btn:active {
  transform: scale(0.9);
}

.ghost-btn {
  background: light-dark(rgba(153, 152, 152, 0.356), rgb(39.15625, 43.3515625, 50.34375));
  border: solid 1px light-dark(white, light-dark(#6e07cf, #00ffb7));
  color: light-dark(white, light-dark(#6e07cf, #00ffb7));
}
.ghost-btn a {
  color: light-dark(#6e07cf, #00ffb7);
}
.ghost-btn:hover {
  background-color: light-dark(light-dark(#3d036a, #1c1f23), light-dark(#6e07cf, #00ffb7));
  box-shadow: none;
  opacity: 1;
  color: light-dark(white, black);
}

.warning-text {
  color: red;
}

body {
  background-color: light-dark(light-dark(#6e07cf, #00ffb7), light-dark(#3d036a, #1c1f23));
  overflow-x: hidden;
}

.body-container {
  padding: 1rem;
  max-width: 1000px;
  min-height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.accordion {
  width: 100%;
  max-width: 400px;
}

.accordion-item {
  border-radius: 25px;
  border: 1px solid light-dark(white, light-dark(#6e07cf, #00ffb7));
  background: light-dark(rgba(153, 152, 152, 0.356), rgb(39.15625, 43.3515625, 50.34375));
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  padding-inline: 0.5rem;
  align-items: center;
  cursor: pointer;
}
.accordion-header .accordion-title {
  color: light-dark(white, light-dark(#6e07cf, #00ffb7));
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 1rem 2rem;
}
.accordion-header .accordion-toggle {
  width: 25px;
  height: 25px;
  fill: light-dark(white, light-dark(#6e07cf, #00ffb7));
}
.accordion-header .accordion-toggle.turned {
  transform: rotate(180deg);
}

.accordion-content {
  transition: all 0.3s ease-in-out;
  max-height: 0px;
  overflow: hidden;
}
.accordion-content.active {
  max-height: 500px;
  padding-bottom: 0;
}

.genres-section {
  display: flex;
  flex-direction: column;
  background: light-dark(light-dark(#3d036a, #1c1f23), rgb(39.15625, 43.3515625, 50.34375));
  border-radius: 0 0 25px 25px;
}

.genre-card {
  padding: 1rem;
  text-align: center;
  font-weight: bold;
  color: white;
}
.genre-card:hover {
  cursor: pointer;
  background-color: light-dark(rgba(255, 255, 255, 0.356), light-dark(#6e07cf, #00ffb7));
  color: light-dark(white, black);
}
.genre-card:active {
  transform: scale(0.9);
}
.genre-card:last-child {
  border-radius: 0 0 25px 25px;
}

.selected {
  background-color: light-dark(rgba(255, 255, 255, 0.356), light-dark(#6e07cf, #00ffb7));
  color: light-dark(white, black);
}

.donate-section {
  color-scheme: dark;
  background-color: light-dark(#3d036a, #1c1f23);
  color: white;
}
.donate-section .btn {
  padding: 0.7rem;
  border-radius: 8px;
}

.crypto-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.crypto-list li {
  display: flex;
  align-items: center;
  gap: 15px;
  text-wrap: wrap;
}

.crypto-logo {
  width: 30px;
}

.copy-icon {
  cursor: pointer;
}
.copy-icon:active path {
  fill: white;
}

.copied-alert {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  background-color: #00ffb7;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  max-width: 400px;
  max-height: 50px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: black;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes fadeOut {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@media screen and (min-width: 500px) {
  .donate-section {
    display: grid;
    grid-template-columns: 1fr;
  }
  .donate-section .btn {
    min-width: 400px;
  }
}
.section-title {
  color: light-dark(white, light-dark(#6e07cf, #00ffb7));
}

.audio-player {
  border-radius: 25px;
  color: light-dark(white, light-dark(#6e07cf, #00ffb7));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  width: 100%;
  gap: 20px;
  padding: 1.5rem;
  background: light-dark(rgba(153, 152, 152, 0.356), rgb(39.15625, 43.3515625, 50.34375));
  border: solid 1px light-dark(white, light-dark(#6e07cf, #00ffb7));
  backdrop-filter: blur(30px);
  max-width: 400px;
}

.cover-container {
  position: relative;
}

.radio-cover {
  width: 250px;
  border-radius: 10px;
  border: solid 1px light-dark(#6e07cf, #00ffb7);
  filter: drop-shadow(0 0 5px light-dark(#6e07cf, #00ffb7));
}

.live-flag {
  position: absolute;
  top: 5%;
  right: 5%;
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: red;
  padding: 0.1rem 0.3rem;
  border-radius: 25px;
  color: white;
}

.live-icon {
  width: 20px;
  animation: infiniteRotation 4s infinite ease-in-out;
}

.radio-name {
  text-transform: capitalize;
}

.btn-container {
  display: flex;
  gap: 20px;
}

.control-btn {
  width: 40px;
  fill: light-dark(white, light-dark(#6e07cf, #00ffb7));
}
.control-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.control-btn:active {
  transform: scale(0.8);
}

.volume-control:hover {
  cursor: pointer;
  transform: scale(1.1);
}

@keyframes infiniteRotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
footer {
  padding: 1rem;
  background-color: light-dark(light-dark(#3d036a, #1c1f23), rgb(39.15625, 43.3515625, 50.34375));
  /* 	.footer-content {
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  }

  .footer-image {
  	width: 100px;
  	border-radius: $border-radius-general;
  }
  */
}
footer .footer-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .footer-links a {
  color: white;
}
footer .footer-links a:hover {
  color: light-dark(#6e07cf, #00ffb7);
}

@media screen and (min-width: 500px) {
  .body-container {
    /* flex-direction: row;
    justify-content: center;
    min-height: 100vh; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
}

/*# sourceMappingURL=style.css.map */
