@import "_reset";
@import "_accordion";

.audio-player {
	border-radius: $border-radius-general;
	color: light-dark(white, $primary-color);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-width: 300px;
	width: 100%;
	gap: 20px;
	padding: 1.5rem;
	background: light-dark(rgba(255, 255, 255, 0.356), lighten(#1c1f24, 5%));
	border: solid 1px light-dark(white, $primary-color);
	backdrop-filter: blur(30px);
}

.radio-cover {
	position: relative;
	width: 250px;
	border-radius: 10px;
	border: solid 1px $primary-color;
	filter: drop-shadow(0 0 5px $primary-color);
}
.live-flag {
	position: absolute;
	top: 8%;
	right: 12%;
	display: flex;
	align-items: center;
	gap: 5px;
	background-color: red;
	padding: 0.1rem 0.3rem;
	border-radius: $border-radius-general;
	color: white;
}
.live-icon {
	width: 20px;
	animation: infiniteRotation 4s infinite ease-in-out;
}
.radio-name {
	text-transform: capitalize;
}
.btn-container {
	display: flex;
	gap: 20px;
}
.control-btn {
	width: 40px;
	fill: light-dark(white, $primary-color);

	&:hover {
		cursor: pointer;
		transform: scale(1.1);
	}
	&:active {
		transform: scale(0.8);
	}
}

@keyframes infiniteRotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

// Footer
footer {
	padding: 1rem;
	background-color: light-dark($secondary-color, lighten(#1c1f24, 5%));

	/* 	.footer-content {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.footer-image {
		width: 100px;
		border-radius: $border-radius-general;
	}
 */
	.footer-links {
		display: flex;
		flex-direction: column;
		align-items: center;

		a {
			color: white;

			&:hover {
				color: $primary-color;
			}
		}
	}
}
