@import "_reset";
@import "_accordion";
@import "_donate";
@import "_animations";

.section-title {
	color: light-dark(white, $primary-color);
}
.audio-player {
	border-radius: $border-radius-general;
	color: light-dark(white, $primary-color);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-width: 300px;
	width: 100%;
	gap: 20px;
	padding: 1.5rem;
	background: light-dark($light, $dark);
	border: solid 1px light-dark(white, $primary-color);
	backdrop-filter: blur(30px);
	max-width: 400px;
}
.cover-container {
	position: relative;
}
.radio-cover {
	width: 250px;
	border-radius: 10px;
	border: solid 1px $primary-color;
	filter: drop-shadow(0 0 5px $primary-color);
}
.radio-name {
	text-transform: capitalize;
}
.btn-container {
	display: flex;
	gap: 20px;
}
.control-btn {
	width: 40px;
	fill: light-dark(white, $primary-color);
	border-radius: $border-radius-general;

	&:hover {
		cursor: pointer;
		transform: scale(1.1);
	}
	&:active {
		transform: scale(0.8);
		background-color: $secondary-color;
	}
}
.volume-control {
	&:hover {
		cursor: pointer;
		transform: scale(1.1);
	}
}

// Footer
footer {
	padding: 1rem;
	background-color: light-dark($secondary-color, $dark);

	/* 	.footer-content {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.footer-image {
		width: 100px;
		border-radius: $border-radius-general;
	}
 */
	.footer-links {
		display: flex;
		flex-direction: column;
		align-items: center;

		a {
			color: white;

			&:hover {
				color: $primary-color;
			}
		}
	}
}

@media screen and (min-width: 500px) {
	.body-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		justify-items: center;
	}
}
