@import "_reset";
@import "_accordion";
@import "_donate";
@import "_animations";

.slogan {
	width: 90%;
	align-self: center;
}
.slogan path {
	fill: transparent;
	stroke: light-dark(white, $primary-color);
	stroke-width: 0.3;
	stroke-dasharray: 50;
	stroke-dashoffset: 50;
	animation: svgDraw 15s ease-in-out infinite;
}

.card.selected {
	.line {
		display: flex;
	}
}
.section-title {
	color: light-dark(white, $primary-color);
}
.audio-player {
	border-radius: $border-radius-general;
	color: light-dark(white, $primary-color);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-width: 300px;
	width: 100%;
	gap: 20px;
	padding: 1.5rem;
	background: light-dark($light, $dark);
	border: solid 1px light-dark(white, $primary-color);
	backdrop-filter: blur(30px);
	max-width: 400px;
	box-shadow: $deep-shadow;
}
.cover-container {
	position: relative;
}
.live-flag {
	position: absolute;
	top: 5%;
	right: 5%;
	display: flex;
	align-items: center;
	background-color: red;
	padding: 0.1rem 0.5rem;
	border-radius: $border-radius-general;
	color: white;
	animation: liveFirstAnimation 2s ease-in-out;
	box-shadow: $deep-shadow;

	p {
		animation: liveTextShow 2s ease-in-out;
	}
}
.live-icon {
	width: 20px;
	animation: infiniteRotation 8s infinite ease-in-out;
}
.radio-cover {
	width: 250px;
	border-radius: 10px;
	/* border: solid 1px $primary-color; */
	/* box-shadow: 0 0 5px 0 $primary-color; */
	box-shadow: $deep-shadow;
}
.radio-name {
	text-transform: capitalize;
}
.radio-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}
.player-inputs {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
}
.btn-container {
	display: flex;
	gap: 20px;
}
.control-btn {
	width: 40px;
	fill: light-dark(white, $primary-color);
	border-radius: $border-radius-general;

	&:hover {
		cursor: pointer;
		transform: scale(1.1);
	}
	&:active {
		transform: scale(0.8);
		background-color: $secondary-color;
	}
}
.volume-control {
	&:hover {
		cursor: pointer;
		transform: scale(1.1);
	}
}

.audio-waves {
	display: flex;
	gap: 3px;
	.line {
		background-color: light-dark(white, black);
		border-radius: $border-radius-general;
		width: 4px;
		height: 5px;
		animation: audioWaveEnabled 1s infinite;
		place-self: end;

		&:nth-child(1) {
			animation-delay: 0.3s;
		}
		&:nth-child(2) {
			animation-delay: 0.5s;
		}
		&:nth-child(3) {
			animation-delay: 0.1s;
		}
	}
}

// Footer
footer {
	padding: 1rem;
	background-color: light-dark($secondary-color, $dark);

	/* 	.footer-content {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.footer-image {
		width: 100px;
		border-radius: $border-radius-general;
	}
 */
	.footer-links {
		display: flex;
		flex-direction: column;
		align-items: center;

		a {
			color: white;

			&:hover {
				color: $primary-color;
			}
		}
	}
}

@media screen and (min-width: 500px) {
	.body-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		justify-items: center;
	}
	.slogan {
		grid-column: span 2;
		width: 70%;
	}
	.audio-player {
		grid-column: span 2;
		width: 100%;
		max-width: 890px;
		flex-direction: row;
		justify-content: space-around;
	}
	.radio-name {
		font-size: 1.3rem;
	}
	.control-btn {
		width: 65px;
	}
	.volume-control {
		width: 80%;
	}
}
