* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  border: none;
  transition: all 0.3s;
  list-style: none;
  text-decoration: none;
  outline: none;
  font-family: "Poppins";
}

:root {
  color-scheme: light dark;
}

@font-face {
  font-family: "Poppins";
  src: url("../typography/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
}
.important-text {
  color: light-dark(#6e07cf, #00ffb7);
}

.important-text-2 {
  color: light-dark(#3d036a, #1c1f23);
}

.bold {
  font-weight: 600;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

hr {
  width: 100%;
  height: 1px;
  background-color: light-dark(white, light-dark(#6e07cf, #00ffb7));
}

/* .section {
	margin-bottom: 2rem;
} */
.hidden {
  display: none;
}

.shown {
  display: flex;
  opacity: 1;
}

.btn {
  padding: 1rem 2rem;
  border-radius: 25px;
  background-color: light-dark(#6e07cf, #00ffb7);
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: black;
}
.btn:hover {
  opacity: 0.9;
}
.btn:active {
  transform: scale(0.9);
}

.ghost-btn {
  background: light-dark(rgba(153, 152, 152, 0.356), rgb(39.15625, 43.3515625, 50.34375));
  border: solid 1px light-dark(white, light-dark(#6e07cf, #00ffb7));
  color: light-dark(white, light-dark(#6e07cf, #00ffb7));
}
.ghost-btn a {
  color: light-dark(#6e07cf, #00ffb7);
}
.ghost-btn:hover {
  background-color: light-dark(light-dark(#3d036a, #1c1f23), light-dark(#6e07cf, #00ffb7));
  box-shadow: none;
  opacity: 1;
  color: light-dark(white, black);
}

.warning-text {
  color: red;
}

body {
  background-color: light-dark(light-dark(#6e07cf, #00ffb7), light-dark(#3d036a, #1c1f23));
  overflow-x: hidden;
}

.body-container {
  padding: 1rem;
  max-width: 1000px;
  min-height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.accordion {
  width: 100%;
  max-width: 400px;
}

.accordion-item {
  border-radius: 25px;
  border: 1px solid light-dark(white, light-dark(#6e07cf, #00ffb7));
  background: light-dark(rgba(153, 152, 152, 0.356), rgb(39.15625, 43.3515625, 50.34375));
}

.accordion-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}
.accordion-header .accordion-title {
  color: light-dark(white, light-dark(#6e07cf, #00ffb7));
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 1rem 2rem;
}
.accordion-header .selected-genre-indicator {
  padding: 0.2rem 0.5rem;
  background: light-dark(#6e07cf, #00ffb7);
  color: light-dark(white, black);
  border-radius: 8px;
}
.accordion-header .accordion-toggle {
  width: 25px;
  height: 25px;
  fill: light-dark(white, light-dark(#6e07cf, #00ffb7));
}
.accordion-header .accordion-toggle.turned {
  transform: rotate(180deg);
}

.accordion-content {
  max-height: 0px;
  overflow: hidden;
}
.accordion-content.active {
  max-height: 500vh;
  padding-bottom: 0;
}

.genres-section,
.artists-section {
  display: flex;
  flex-direction: column;
  background: light-dark(light-dark(#3d036a, #1c1f23), rgb(39.15625, 43.3515625, 50.34375));
  border-radius: 0 0 25px 25px;
}

.card {
  padding: 1rem;
  min-height: 10px;
  font-weight: bold;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.card:hover {
  cursor: pointer;
  background-color: light-dark(rgba(255, 255, 255, 0.356), light-dark(#6e07cf, #00ffb7));
  color: light-dark(white, black);
}
.card:last-child {
  border-radius: 0 0 25px 25px;
}

.card-title {
  font-weight: 400;
}

.selected {
  background-color: light-dark(rgba(255, 255, 255, 0.356), light-dark(#6e07cf, #00ffb7));
  color: light-dark(white, black);
}

body:has(.donate-section) {
  color-scheme: dark;
  background-color: light-dark(#3d036a, #1c1f23);
  color: white;
}
body:has(.donate-section) .btn {
  padding: 0.7rem;
  border-radius: 8px;
}

.crypto-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.crypto-list li {
  display: flex;
  align-items: center;
  gap: 15px;
  text-wrap: wrap;
}

.crypto-logo {
  width: 30px;
}

.copy-icon {
  cursor: pointer;
}
.copy-icon:active path {
  fill: white;
}

.copied-alert {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  background-color: #00ffb7;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  max-width: 400px;
  max-height: 50px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: black;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes fadeOut {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@media screen and (min-width: 500px) {
  .donate-section {
    display: grid;
    grid-template-columns: 1fr;
  }
  .donate-section .btn {
    min-width: 400px;
  }
}
@keyframes liveFirstAnimation {
  from {
    max-width: 35px;
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  55% {
    max-width: 35px;
  }
  to {
    max-width: 100%;
  }
}
@keyframes liveTextShow {
  from {
    opacity: 0;
    translate: 100%;
    filter: blur(20px);
  }
  50% {
    opacity: 0;
  }
  60% {
    translate: 20%;
  }
  to {
    opacity: 1;
    translate: 0%;
    filter: blur(0px);
  }
}
@keyframes infiniteRotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes audioWaveEnabled {
  from {
    height: 5px;
  }
  50% {
    height: 10px;
  }
  to {
    height: 5px;
  }
}
@keyframes textAnimation {
  0% {
    stroke-dashoffset: 50;
  }
  10% {
    fill: transparent;
  }
  25% {
    stroke-dashoffset: 0;
    fill: light-dark(white, light-dark(#6e07cf, #00ffb7));
  }
  50% {
    fill: light-dark(white, light-dark(#6e07cf, #00ffb7));
  }
  70% {
    fill: transparent;
  }
  100% {
    stroke-dashoffset: 50;
  }
}
.slogan {
  width: 90%;
  align-self: center;
  grid-column: span 2;
}

.slogan path {
  fill: transparent;
  stroke: light-dark(white, light-dark(#6e07cf, #00ffb7));
  stroke-width: 0.3;
  stroke-dasharray: 50;
  stroke-dashoffset: 50;
  animation: textAnimation 15s ease-in-out infinite;
}

.card.selected .line {
  display: flex;
}

.section-title {
  color: light-dark(white, light-dark(#6e07cf, #00ffb7));
}

.audio-player {
  border-radius: 25px;
  color: light-dark(white, light-dark(#6e07cf, #00ffb7));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  width: 100%;
  gap: 20px;
  padding: 1.5rem;
  background: light-dark(rgba(153, 152, 152, 0.356), rgb(39.15625, 43.3515625, 50.34375));
  border: solid 1px light-dark(white, light-dark(#6e07cf, #00ffb7));
  backdrop-filter: blur(30px);
  max-width: 400px;
}

.cover-container {
  position: relative;
}

.live-flag {
  position: absolute;
  top: 5%;
  right: 5%;
  display: flex;
  align-items: center;
  background-color: red;
  padding: 0.1rem 0.5rem;
  border-radius: 25px;
  color: white;
  animation: liveFirstAnimation 2s ease-in-out;
}
.live-flag p {
  animation: liveTextShow 2s ease-in-out;
}

.live-icon {
  width: 20px;
  animation: infiniteRotation 10s infinite ease-in-out;
}

.radio-cover {
  width: 250px;
  border-radius: 10px;
  border: solid 1px light-dark(#6e07cf, #00ffb7);
  box-shadow: 0 0 5px 0 light-dark(#6e07cf, #00ffb7);
}

.radio-name {
  text-transform: capitalize;
}

.btn-container {
  display: flex;
  gap: 20px;
}

.control-btn {
  width: 40px;
  fill: light-dark(white, light-dark(#6e07cf, #00ffb7));
  border-radius: 25px;
}
.control-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.control-btn:active {
  transform: scale(0.8);
  background-color: light-dark(#3d036a, #1c1f23);
}

.volume-control:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.audio-waves {
  display: flex;
  gap: 3px;
}
.audio-waves .line {
  background-color: light-dark(white, black);
  border-radius: 25px;
  width: 4px;
  height: 5px;
  animation: audioWaveEnabled 1s infinite;
  place-self: end;
}
.audio-waves .line:nth-child(1) {
  animation-delay: 0.3s;
}
.audio-waves .line:nth-child(2) {
  animation-delay: 0.5s;
}
.audio-waves .line:nth-child(3) {
  animation-delay: 0.1s;
}

footer {
  padding: 1rem;
  background-color: light-dark(light-dark(#3d036a, #1c1f23), rgb(39.15625, 43.3515625, 50.34375));
  /* 	.footer-content {
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  }

  .footer-image {
  	width: 100px;
  	border-radius: $border-radius-general;
  }
  */
}
footer .footer-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .footer-links a {
  color: white;
}
footer .footer-links a:hover {
  color: light-dark(#6e07cf, #00ffb7);
}

@media screen and (min-width: 500px) {
  .body-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
  .slogan {
    width: 70%;
  }
  /* .cta-section {
  	grid-column: 2;
  } */
}

/*# sourceMappingURL=style.css.map */
