<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<meta property="og:title" content="RadioCast" />
		<meta property="og:type" content="website" />
		<meta property="og:image" content="../assets/logo.JPG" />

		<link rel="icon" type="image/jpg" href="../assets/logo.JPG" />
		<link rel="apple-touch-icon" sizes="180x180" href="../assets/logo.JPG" />

		<link rel="stylesheet" href="../style/style.css" />
		<title>RadioCast</title>
	</head>
	<body>
		<div class="body-container donate-section">
			<ul class="crypto-list">
				<h1 class="section-title">Select the coin</h1>
				<li>
					<img
						src="../assets/cryptocurrency/bitcoin-btc-logo.svg"
						class="crypto-logo"
					/>
					<span>Bitcoin</span>
					<img
						src="../assets/copy-simple.svg"
						class="copy-icon"
						data-address="bc1qq8ee65puns3a4u2hv0zakqach3pa29qxzm6q49"
						alt="Copiar"
					/>
				</li>
				<li>
					<img
						src="../assets/cryptocurrency/ethereum-eth-logo.svg"
						class="crypto-logo"
					/>
					<span>Ethereum</span>
					<img
						src="../assets/copy-simple.svg"
						class="copy-icon"
						data-address="0x8b0c0a9e5384b2c47A6000a803db6a8C8414E7d3"
						alt="Copiar"
					/>
				</li>
				<li>
					<img
						src="../assets/cryptocurrency/solana-sol-logo.svg"
						class="crypto-logo"
					/>
					<span>Solana</span>
					<img
						src="../assets/copy-simple.svg"
						class="copy-icon"
						data-address="8aCvErtVXqZJQGQE2n4sj2z4MNi2qdqTPLRsp67ZobpP"
						alt="Copiar"
					/>
				</li>
				<li>
					<img
						src="../assets/cryptocurrency/cardano-ada-logo.svg"
						class="crypto-logo"
					/>
					<span>Cardano</span>
					<img
						src="../assets/copy-simple.svg"
						class="copy-icon"
						data-address="addr1q86nju6xwl64kdz0rrjc8nz0x9xqfyn4ry3y4u0qaljpc3ufxyv9n0qjuzhey7hfgk5cky30aj4llgzvz5f09rzxdmfsa5h9rw"
						alt="Copiar"
					/>
				</li>
				<li>
					<img
						src="../assets/cryptocurrency/tron-trx-logo.svg"
						class="crypto-logo"
					/>
					<span>Tron</span>
					<img
						src="../assets/copy-simple.svg"
						class="copy-icon"
						data-address="TMAo7K6nmBYFTjgrm7L7mCes3krCY79KYN"
						alt="Copiar"
					/>
				</li>
				<li>
					<img
						src="../assets/cryptocurrency/polkadot-new-dot-logo.svg"
						class="crypto-logo"
					/>
					<span>Polkadot</span>
					<img
						src="../assets/copy-simple.svg"
						class="copy-icon"
						data-address="13WVVTsok45dgG7TpXfH8eChhKpm9rjKchi8QcaQ2YxVn1gf"
						alt="Copiar"
					/>
				</li>
				<li>
					<img
						src="../assets/cryptocurrency/polygon-matic-logo.svg"
						class="crypto-logo"
					/>
					<span>Polygon</span>
					<img
						src="../assets/copy-simple.svg"
						class="copy-icon"
						data-address="0x8b0c0a9e5384b2c47A6000a803db6a8C8414E7d3"
						alt="Copiar"
					/>
				</li>
			</ul>
			<div class="copied-alert">Copied to clipboard</div>

			<a href="../index.html"><button class="btn">Go Back</button></a>
		</div>

		<footer>
			<div class="footer-content">
				<!-- 				<img src="./assets/logo.JPG" alt="Footer Image" class="footer-image" /> -->
				<nav class="footer-links">
					<a href="https://cesarsullen.github.io">About the Developer</a>
					<a href="https://de1.api.radio-browser.info/" target="_blank"
						>Radio Browser API</a
					>
				</nav>
			</div>
		</footer>

		<script src="../js/donate.js"></script>
	</body>
</html>
